#Ignore file for KePlast customer projects
#Git-2.13.1.2-keplast15

#Files produced by mergeUff.sh merge driver are stored in a _merge folder
# named *.merge_ancestor.*, *.merge_ours.*, *.merge_theirs.*
#This files are written to disk so a user can manually merge changes in *.pu, *.sv, *.tu, ... files
#After merging is finished, this files can be removed
_merge/

#Manager/KeStudio
*.wksp
*.~u
*.projectarchive
/Source/*.opt
/Source/Configuration/

/Source/IMM/boot
/Source/IMM/configuration

/Source/IMM/ieccontrol/ieccontrol.md5

/Source/KePlast/boot/
/Source/KePlast/configuration/

#IECEdit
*.SUL
*.FUL
*.SVL
*.isL
*.FUD
*.SVD

*.fuO
*.puO
*.tuO

*.it

*.fws
*.pws
*.dbg
*.dws

*.kvb

#IECEdit lock files
*.??lock
*.???lock

#IECEdit building with MapFile=on
*.FUMAP
*.SVMAP
*.ismap
*.C_MAP

#IECEdit building with WriteTypeInfo=on
/Source/IMM/ieccontrol/**/*.CSV

*.tmp

# Attribute files
*.att

#Currently this files are all empty so we could ignore them until they contain real data
#*.helpproperties

/Source/IMM/AddFilesForExecutableSystem/AddFilesFiltered.txt
/Source/IMM/ieccontrol/IniFile.log
/Source/IMM/ieccontrol/*/version.txt
/Source/IMM/ieccontrol/system/hw_generatedByManager.sv
/Source/IMM/ieccontrol/system/hmi/text/hw_generatedByManagerSv*.properties

/Source/KePlast/AddFilesForExecutableSystem/AddFilesFiltered.txt
/Source/KePlast/ieccontrol/IniFile.log
/Source/KePlast/ieccontrol/*/version.txt
/Source/KePlast/ieccontrol/system/hw_generatedByManager.sv
/Source/KePlast/ieccontrol/system/hmi/text/hw_generatedByManagerSv*.properties

#ViewEdit
/Source/IMM/view/????????-????-????-????-????????????/
/Source/view/VE_VS.log
/Source/view/VE_VS_bak*.log

#ViewEdit Style
/Source/IMM/view/ViewStyle/codegen.log
/Source/IMM/view/ViewStyle/codegentime.log
/Source/IMM/view/ViewStyle/workspace/.metadata/

#ViewEdit KVS
/Source/IMM/view/VE_VS.log
/Source/IMM/view/ViewKVS/.classpath
/Source/IMM/view/ViewKVS/bin/
/Source/IMM/view/ViewKVS/build.xml
/Source/IMM/view/ViewKVS/build.properties
/Source/IMM/view/ViewKVS/codegen.log
/Source/IMM/view/ViewKVS/codegentime.log
/Source/IMM/view/ViewKVS/copyView.xml
/Source/IMM/view/ViewKVS/resourcesIEC.xml
/Source/IMM/view/ViewKVS/contents/**/*_generated.java
/Source/IMM/view/ViewKVS/contents/**/*Tx.properties
/Source/IMM/view/ViewKVS/contents/viewedit/function/KeyFunctions.java
/Source/IMM/view/ViewKVS/contents/viewedit/function/StandardFunctions.java
/Source/IMM/view/ViewKVS/contents/viewedit/function/ViewEditFunctions.java
/Source/IMM/view/ViewKVS/Download/
/Source/IMM/view/ViewKVS/help.hprj
/Source/IMM/view/ViewKVS/libraries/help/tmp/
/Source/IMM/view/ViewKVS/libraries/template/
/Source/IMM/view/ViewKVS/protocol/log/kvs/hmi.log*
/Source/IMM/view/ViewKVS/translation/translationadditional/translation.kpe
/Source/IMM/view/ViewKVS/translation/translationadditional/script.txt
/Source/IMM/view/ViewKVS/translation/translationiec/translation.kpe
/Source/IMM/view/ViewKVS/translation/translationiec/script.txt
/Source/IMM/view/ViewKVS/translation/translationkvs/translation.kpe
/Source/IMM/view/ViewKVS/translation/translationkvs/script.txt
/Source/IMM/view/ViewKVS/translation/translationkvsframework/translation.kpe
/Source/IMM/view/ViewKVS/translation/translationkvsframework/script.txt
/Source/IMM/view/ViewKVS/translation/temp/

#ViewEdit KVB
/Source/IMM/view/VE_VB.log
/Source/IMM/view/ViewKVB/build.properties
/Source/IMM/view/ViewKVB/codegen.log
/Source/IMM/view/ViewKVB/codegentime.log
/Source/IMM/view/ViewKVB/contents/**/*Tx.properties
/Source/IMM/view/ViewKVB/Download/
/Source/IMM/view/ViewKVB/help.hprj
/Source/IMM/view/ViewKVB/import/
/Source/IMM/view/ViewKVB/libraries/template/
/Source/IMM/view/ViewKVB/translation/translationiec/translation.kpe
/Source/IMM/view/ViewKVB/translation/translationiec/script.txt
/Source/IMM/view/ViewKVB/translation/translationkvb/translation.kpe
/Source/IMM/view/ViewKVB/translation/translationkvb/script.txt
/Source/IMM/view/ViewKVB/translation/translationkvbframework/translation.kpe
/Source/IMM/view/ViewKVB/translation/translationkvbframework/script.txt

/Source/IMM/ieccontrol/kvb_system/
/Source/IMM/ieccontrol/KVB/generated/
/Source/IMM/ieccontrol/KVB/KVB_generated_VARS.fu

#JBuilder KVS
/Source/IMM/view/HMICustomer/application.jar
/Source/IMM/view/HMICustomer/language.jar
/Source/IMM/view/HMICustomer/bin/

/Source/KePlast/view/HMICustomer/application.jar
/Source/KePlast/view/HMICustomer/language.jar
/Source/KePlast/view/HMICustomer/bin/
/Source/KePlast/view/HMICustomer/doc/

#JBuilder KVS
/Source/IMM/view/HMIBase/HMIBase_src*
/Source/IMM/view/output/
*.jpx.local
*.jbx
*.dep2
*.*~*~

#Translator
$*$.bak

#Exported patches
patch*.zip

#Download tool
download_hashes*.txt

#Windows explorer
Thumbs.db

#Java crash dump
/Source/IMM/view/ViewKVS/hs_err_pid*.log

#allow to have zip file of a target flash
/Target/*
!/Target/*.zip
!/Target/*.rar

#allow to have zip file of a sim folder
Sim/*
!/Sim/*.zip
!/Sim/*.rar
